.container {
  padding: 32px 20px;
}
.box {
  box-sizing: border-box;
  padding: 32px 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
  width: 280px;
  height: 168px;
  background-color: transparent;
  border-top: 1px solid #e0e5eb;
  border-bottom: 1px solid #e0e5eb;
}
.tumb {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 256px;
}
.boockText {
  color: #242a37;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tip {
  display: inline-block;
  width: 80px;
  margin: 0;
  color: #898f9f;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
