.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 12px;
  width: 280px;
  height: 178px;
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
}
.btnBox {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.deleteBtn {
  border: none;
  background-color: transparent;
}
.tumb {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 256px;
  padding-left: 34px;
}
.boockText {
  color: #242a37;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tip {
  display: inline-block;
  width: 80px;
  margin: 0;
  color: #898f9f;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.resume {
  position: relative;
  left: 41px;
  width: 127px;
  height: 40px;
  background: #6d7a8d;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .btnBox {
    width: 95%;
  }
  .card {
    width: 704px;
    height: 62px;
  }
  .tumb {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .boockText {
    flex: 1;
  }
  .tumb .boockText:first-child {
    flex: 2;
  }
  .tip {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 1168px;
  }
}
